<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style2.css" />
    <title>OPERAÇÃO TAPA BURACOS</title>
  </head>

  <body>
    <div class="container-usuarios">
      <h2>INFORMAÇOES DO ADM</h2>
      <p>{{user.nome}}</p>
      <h2>id_usuario: {{user.id_usuario}}</h2>
      <h2>email: {{user.e-mail}}</h2>
      <form action="/logout" method="post">
        <button type="submit">Sair</button>
      </form>
    </div>
    <div><form
        action="/enviar-solucao"
        method="post"
        enctype="multipart/form-data"
      >
        <h2>Detalhes da Ocorrência:</h2>
        <label for="id_ocorrencia">ID-OCORRENCIA:</label>
        <input type="number" id="id_ocorrencia" name="id_ocorrencia" required />

        <label for="descricao_solucao">Descrição da Solucao:</label>
        <textarea
          id="descricao_solucao"
          name="descricao_solucao"
          required
        ></textarea>

        <label for="foto_da_solucao">Foto da Solução:</label>
        <input
          type="file"
          id="foto_da_solucao"
          name="foto_da_solucao"
          accept="image/*"
        />
        <input type="submit" value="Enviar" />
      </form></div>
    <div class="confirmação_formulario" style="display: none;">
      <h2>ja existe uma solução para esse problema deseja alterar mesmo assim?</h2>
      <button onclick="confirmarModificacao('sim')">Sim</button>
      <button onclick="confirmarModificacao('nao')">Não</button>
    </div>
    <div class="container-formulario">
      <h2>Formulário de Incidentes de Via</h2>
      <form
        action="/enviar-formulario"
        method="post"
        enctype="multipart/form-data"
      >
        <h2>gravidade da Ocorrência</h2>
        <label><input
            type="radio"
            name="gravidade_da_ocorrencia"
            value="Urgente"
            required
          />
          Urgente</label>
        <label><input
            type="radio"
            name="gravidade_da_ocorrencia"
            value="Alta"
            required
          />
          Alta</label>
        <label><input
            type="radio"
            name="gravidade_da_ocorrencia"
            value="Mediana"
            required
          />
          Mediana</label>
        <label><input
            type="radio"
            name="gravidade_da_ocorrencia"
            value="Normal"
            required
          />
          Normal</label>
        <label><input
            type="radio"
            name="gravidade_da_ocorrencia"
            value="Baixa"
            required
          />
          Baixa</label>

        <h2>Detalhes da Ocorrência:</h2>
        <label for="endereco">Endereço:</label>
        <input type="text" id="end_ocorrencia" name="end_ocorrencia" required />

        <label for="bairro">Bairro:</label>
        <input type="text" id="bairro" name="bairro" required />

        <label for="cep">cep:</label>
        <input type="text" id="cep" name="cep" required />

        <label for="descricao">Descrição da Ocorrência:</label>
        <textarea
          id="descricao_da_ocorrencia"
          name="descricao_da_ocorrencia"
          required
        ></textarea>

        <label for="foto-ocorrencia">Foto da Ocorrência:</label>
        <input
          type="file"
          id="foto_da_ocorrencia"
          name="foto_da_ocorrencia"
          accept="image/*"
        />

        <label for="foto-mapa">Foto do Mapa da Ocorrência:</label>
        <input
          type="file"
          id="foto_mapa_da_localizacao"
          name="foto_mapa_da_localizacao"
          accept="image/*"
        />

        <input type="submit" value="Enviar" />
      </form>

    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>ID-Ocorrencia</th>
            <th>ID-usuario</th>
            <th>Gravidade</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Descrição</th>
            <th>Foto da Ocorrência</th>
            <th>Foto do Mapa</th>
          </tr>
        </thead>
        {{#each problemas}}
          <tr>
            <td>{{this.id_ocorrencia}}</td>
            <td>{{this.id_usuario}}</td>
            <td>{{this.gravidade_da_ocorrencia}}</td>
            <td>{{this.end_ocorrencia}}</td>
            <td>{{this.bairro}}</td>
            <td>{{this.descricao_da_ocorrencia}}</td>
            <td><a
                href="/exibir-imagem?caminho={{this.foto_da_ocorrencia}}"
                target="_blank"
              >Ver Foto</a></td>
            <td><a
                href="/exibir-imagem?caminho={{this.foto_mapa_da_localizacao}}"
                target="_blank"
              >Ver Foto</a></td>
          </tr>
        {{/each}}
      </table>

      <!-- Seção da tabela para exibir as informações da tabela cad_solucao -->
      <table class="table">
        <thead>
          <tr>
            <th>ID da Ocorrência</th>
            <th>ID do Usuário</th>
            <th>Descrição da Solução</th>
            <th>Foto da Solução</th>
          </tr>
        </thead>
        {{#each problemas}}
          <tr>
            <td>{{this.id_ocorrencia}}</td>
            <td>{{this.id_usuario}}</td>
            <td>{{this.descricao_solucao}}</td>
            <td><a
                href="/exibir-imagem?caminho={{this.foto_da_solucao}}"
                target="_blank"
              >Ver Foto</a></td>
          </tr>
        {{/each}}
      </table>
    </div>
    <div class="attribution">
      Coded by
      <a href="https://github.com/Evandro1v/PROJETO.-PI"> Evandro1v</a>
    </div>

  </body>
  <script>
    function removerOcorrencia(idOcorrencia) { if (confirm("Tem certeza que
    deseja remover esta ocorrência?")) { fetch('/remover-ocorrencia', { method:
    'POST', headers: { 'Content-Type': 'application/json' }, body:
    JSON.stringify({ id_ocorrencia: idOcorrencia }) }) .then(response => { if
    (response.ok) { window.location.reload(); } else { console.error('Erro ao
    remover ocorrência:', response.statusText); } }) .catch(error => {
    console.error('Erro ao remover ocorrência:', error); }); } }
  </script>
</html>